Need to do the following for the code to run:

Need to have Jupyter Notebook with Python 3.

Import the following :
 - Numpy : Link http://www.numpy.org/
 - Pandas : Link: https://pandas.pydata.org/
 - Matplotlib : Link : https://matplotlib.org/
 - Scipy.stats : Link https://docs.scipy.org
 - random : for non numeric datra, use of random seed
